<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="nombreCompleto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RUT (ej: 12345678-9)</ion-label>
      <ion-input formControlName="rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Curso</ion-label>
      <ion-input formControlName="curso"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="registroForm.invalid">
      Registrarse
    </ion-button>
  </form>
</ion-content>
